.vs/
build/
Debug/
Release/
x64/
Win32/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
*.obj
*.exe
*.pdb
*.ilk
*.dll
*.lib
*.exp
*.idb
*.ipdb
*.iobj
*.tlog
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.log
__pycache__/
*.pyc
.DS_Store
Thumbs.db
